*{
    margin: 0px;
    padding: 0px;
}
.test{
    color: blue;
    cursor: url(https://freepngimg.com/miscellaneous/emoji);
}
.box{
    padding: 20px;
    background-color: red;
    width: 150px;
}
/*.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}*/

.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}